<div class="about">
    <h2 class="title-inside">about me</h2>

    <h2>&lcub;
        <br><span class="azure">"name"</span>: <span class="red"> "Matteo Pellegrini"</span>,
        <br>
        <span class="azure">"description"</span>:<span class="red"> "I'm a Front-end developer from Italy."</span> ,
        <br>
        <span class="azure">"languages"</span>:<span class="red"> "Javascript, Typescript, NodeJs"</span> ,
        <br>
        <span class="azure">"frameworks"</span>:<span class="red"> "Angular, React"</span> ,
        <br>
        <span class="azure">"libraries"</span>: <span class="red"> "Bootstrap, Tailwind, Angular Material, Bulma"</span>,
        <br>&rcub;</h2>    
</div>
