.tag{
    color: #0098ff;
}
.azure{
    color: #57bcff;
}
.inside{
    color: white;
}
.red{
    color: #f39b9b;
}
.about{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-content: center;
    align-items: center;
}