div.title {
    color: rgb(172,172,172);
    display: flex;
    text-align: center;
    flex-direction: row;
}
#yellow{
    margin: 5px;
    background: #f1fa8c;
    margin-left: auto;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    cursor: pointer;
}
#green{
    margin: 5px;
    background: #50fa7b;
    margin-left: auto;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    cursor: pointer;
}
#red{
    margin: 5px;
    background: #f55;
    margin-left: auto;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    cursor: pointer;
}
.titlebarButtons{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.titleOptions{
    margin-right: auto;
    display: grid;
    grid-auto-flow:column;
    grid-column-gap: 10px;
    cursor: pointer;
    color:rgb(172,172,172);
}
#logo{
    width: 14px;
    margin-right: 5px;
}

@media screen and (max-width: 480px) {
    .titlebarButtons span#yellow,.titlebarButtons span#red,.titlebarButtons span#green{
        height: 10px;
    width: 10px;
    }
    p#title{
        font-size: 10px;
    }
    .titleOptions {
        display:none;
    }
    .mat-drawer.mat-drawer-side{
        display: none;
    }
}
