<aside id="aside1">
    <div class="iconsaside">
      
            <div class="containersvg">
                <div class="space"></div>
                <img src="assets/file-home.svg" routerLinkActive="active-aside" [routerLinkActiveOptions]="{exact:
                    true}" routerLink='home' width="24" height="24">
            </div>
        
       

            <div  class="containersvg">
                <div class="space"></div>
                <img src="assets/code.svg" routerLinkActive="active-aside" [routerLinkActiveOptions]="{exact:
                    true}" routerLink='projects' width="24" height="24">
            </div>
    
        

            <div id="code" class="containersvg">
                <div class="space"></div>
                <img src="assets/github.svg" routerLinkActive="active-aside" [routerLinkActiveOptions]="{exact:
                    true}" routerLink='github' width="24" height="24">
            </div>
        
       

            <div id="contac" class="containersvg">
                <div class="space"></div>
                <img src="assets/contact.svg" routerLinkActive="active-aside" [routerLinkActiveOptions]="{exact:
                    true}" routerLink='contact' width="24" height="24">
            </div>
       
    </div>
</aside>
