#aside1{
    float: left;
}
.iconsaside{
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    
}
.source{
    width:40px;
    height: auto;
}

.active-aside{
    border-left: 1px solid #0098ff ;
mix-blend-mode: screen;
}
  .space {
      height: 29px;
      
  }
.containersvg{
    cursor: pointer;
}
