<div class="contact-container">

    <h2 class="title-inside">Contact me via socials</h2>
  <br>
  <br>
    <h3 class="fun-cont">
     <span class="function">getContacts() </span>
     &#x7b;
     <span class="return">return</span>
     <span class="linkcontact"> this</span>.<span class="azure">contacts</span>.<span class="function">map</span> <span class="tag">(contact => contact)</span> 
       &#x7d;
    </h3>
 <h3>
  <ol>
    <li>website : <a target="_blank" class="linkcontact" href="https://stupefied-fermat-98e6c6.netlify.app/">portfolio</a></li>
    <li>gmail: <a target="_blank" class="linkcontact" href="mailto:pelmat97@gmail.com">pelmat</a></li>
    <li>linkedin : <a target="_blank" class="linkcontact" href="https://www.linkedin.com/in/matteo-pellegrini-5601b4216/">Matteo-Pellegrini</a></li>
    <li>github : <a target='_blank' class="linkcontact" href="https://github.com/Cruyff97">cruyff97</a> </li>
</ol>
 </h3>

</div>
