ul {
    list-style-image: url("../../assets/icons8-folder.svg");
}
a{
    text-decoration: none;
    text-transform: none;
    color: white
}
.title-aside{
display: flex;
margin-left: 24px;
align-content: center;
}