  <div class="title-aside">
    <h3>EXPLORER</h3>
  </div>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
         PORTFOLIO
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
         <a routerLink="/home"> <li> Home.html</li></a>
        <a routerLink="/about"> <li>About.css</li></a>
         <a routerLink="/projects"> <li>Projects.js</li></a>
         <a routerLink="/contacts"> <li>Contact.ts</li></a>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
