<div class="container">
    <div class="homedivTitle">
        <ol>
    
           <li class="tag">
            &lt;h1&gt;<h5 class="hometitle inside">Matteo Pellegrini</h5>&lt;/h1&gt;
            </li> 
            
        <li  class="tag">

            &lt;h2&gt;<h6 class="webdeveloper inside">Front-end developer</h6>&lt;/h2&gt;
        </li>
       

            <div class="buttons">
                <li>

                    <button routerLink="/contact" mat-raised-button color="primary">Contact me</button>
                </li>
                <li>

                    <button routerLink="/projects" mat-raised-button color="secondary">projects</button>
                </li>
            </div>
        
     
  

