<div class="container">
    <div class="homedivTitle">
        <ol>
    
           <li>
               <h1 class="hometitle">Matteo Pellegrini</h1>
            </li> 
            
        <li>

            <h2 class="webdeveloper">Front-end developer</h2>
        </li>
       

            <div class="buttons">
                <li>

                    <button routerLink="/contact" mat-raised-button color="primary">Contact me</button>
                </li>
                <li>

                    <button routerLink="/projects" mat-raised-button color="secondary">projects</button>
                </li>

            </div>
        
     
  

